@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    

}
h1{
    color: rgb(238, 181, 211);
}
h1,h2,h3{
    font-family: 'Lora', serif;
}

section article h1{
    color:rgb(7, 7, 7);
    font-family: 'Lora', serif;
    line-height: normal;
    font-style: italic;
    




}

section h1{ /*promociones*/
    color: rgb(0, 0, 0);
}

section p{
    color:rgb(0, 0, 0);
}

.text-alert{
    color: rgb(0, 0, 0);
    border-bottom: brown;
}



nav{
    background-color: rgb(250,230,255,.5);
    padding: 4px 30px;



}
nav li{
    display: inline-block;
}

nav ul{
    display: inline-block;
}

nav ul li a{
    color:darkslategray;
    text-decoration: darkmagenta;

}

.text-bold{
    font-weight: 500;
}

.text-light{
    font-weight: 300;
}

.text-Regular{
    font-weight: 400;
}
.text-Center{
    text-align: center;
}

.text-Right{
    text-align: right;
}

.text-Left{
    text-align: left;
}


body{
    background-image: url(../img/moon.jpg);
    background-position: center;
}

.bg-Light{
    background-color: antiquewhite;
}
.promociones__section{
    height:25%;
    width: 25%;
}
.novedades__section { /*linea 59*/
    width: 80%;
    height: auto;
    margin: 50px auto;  
    padding: 40px;
    border:dashed 2px brown ; /*dashed es el diseño del borde*/
    overflow: auto;
    box-sizing: border-box;



}

.encabezado_box--tel{
    text-align: center;
    background-color:rgb(230, 158, 182);
    padding: 6px 0;

}

.footer__dis{
    padding: 10px 0;
    
    box-sizing: border-box;
}

.encabezado_img_fluid{
    width: 100%
}






